/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */

header {
  background-color: rgba(34, 49, 52, 0.9);
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.header-left {
  float: left;
}

.logo {
  width: 124px;
  padding: 20px 0;
}

.header-right {
  float: right;
}

.login {
  color: white;
  line-height: 65px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0 25px;
  display: inline-block;
  transition: all 0.5s;
}

.login:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.top-wrapper {
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  padding: 180px 0 100px 0;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  letter-spacing: 5px;
  font-size: 45px;
}

.top-wrapper p {
  opacity: 0.7;
}

.btn-wrapper {
  padding-top: 30px;
}

.btn {
  padding: 8px 24px;
  border-radius: 4px;
  opacity: 0.8;
  color: white;
  display: inline-block;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn-wrapper p {
  margin: 15px;
}

.fa {
  margin-right: 5px;
}

.lesson-wrapper {
  height: 580px;
  text-align: center;
  background-color: #f7f7f7;
}

.heading {
  padding-top: 80px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lessons {
  margin-top: 50px;
}

.lesson {
  width: 25%;
  float: left;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  color: white;
  position: absolute;
  top: 90px;
  width: 100%;
}

.text-contents {
  font-size: 13px;
  color: #b3aeb5;
  margin-top: 15px;
  width: 80%;
  display: inline-block;
  
}

.message-wrapper {
  text-align: center;
}

.message {
  background-color: #5dca88;
  padding: 15px 40px;
  margin: 50px 0 80px 0;
  box-shadow: 0 7px #1a7940;
  cursor: pointer;
  
}

.message:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

footer {
  border-top: 1px solid #eee;
  padding: 30px 0;
}

footer img {
  width: 124px;
}

footer p {
  font-size: 12px;
  color: #b3aeb5;
}
